{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <nav aria-label="breadcrumb mt-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'feedback' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pronunciation and Grammar errors</li>
        </ol>
    </nav>

    <div class="modal fade" id="progress-modal" tabindex="-1" role="dialog" aria-labelledby="modal-header"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-header"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center mt-5" id="spinner-box">
                        <div class="spinner-border text-primary" role="status"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="heading-text heading-section text-center py-3">
        <h4 class="mb-0">Pronunciation and Grammar Suggestions</h4>
        <span class="lead">See what trainme think about your presentation</span>
    </div>
    <div class="tabs my-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Grammar Suggestions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Pronunciation Errors</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h2 class="pb-5">You have said..</h2>
                <div class="pb-5 mx-5">
                    <h4 id="user-said" style="color: grey;">" {{ grammar.stt }} "</h4>
                </div>

                <div class="py-5">
                    <h2>What <span><img src="{% static 'users/images/title.png' %}" class="img-fluid"
                                style="width: 230px;"></span> Suggest to say...</h2>
                </div>

                <section class="background-colored">
                    <div id="particles-dots" class="particles"></div>
                    <div class="container">
                        <div class="heading-text text-light px-5">
                            <h4 id="suggested">{{ grammar.result }}</h4>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row pb-5" id="pronounciation">
                </div>
                <hr />
            </div>
        </div>

        <!-- <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row pb-5" id="pronounciation">
                </div>
                <hr />
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            </div>
        </div> -->
    </div>

</div>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Check if this cookie string begins with the name we want
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    document.addEventListener('DOMContentLoaded', function () {
        const spinnermodal = new bootstrap.Modal(document.getElementById('progress-modal'));
        const spinner = document.getElementById('spinner-box');
        const spinnerheader = document.getElementById('modal-header');
        const spinnerbox = document.getElementById("spinner-box");
        const data = document.getElementById("pronounciation");
        // const maxEmotion = document.getElementById("max-emotion");
        // spinnerbox.style.display = 'flex';

        var xhr = new XMLHttpRequest();

        // Configure it: POST-request for the URL /post
        xhr.open('POST', "{% url 'pronuciation' %}", true);
        // Set up the request headers
        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

        spinnerheader.innerText = "Processing Video for Grammar and Pronounciation Errors"
        spinnermodal.show()

        // Define what happens on successful data submission
        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log('Response received:', xhr.responseText);
                spinnerbox.style.display = 'none';
                spinnerheader.innerText = "Processing Video for Grammar and Pronounciation Errors completed"
                spinnermodal.hide()
                var response = JSON.parse(xhr.responseText); // Parse the JSON response
                // maxEmotion.innerText = response.data.maxemotion;
                var emotionsHtml = "";
                for (const [key, value] of Object.entries(response.pronounciations)) {
                    console.log(`Expression: ${key}, Value: ${value}`);
                    emotionsHtml += `<div class="col-lg-3 text-center">
                                <div class="pie-chart" data-percent="${value}" data-color="#6DEA64"><span class="percent">${value}</span>
                                    </div>
                                    <h4>${key}</h4>
                                    <p>percent: ${value}</p>
                                </div>
                            `;
                }
                data.innerHTML = emotionsHtml; // Update the DOM with the generated HTML

                document.getElementById("user-said").innerText = response.grammar.stt
                document.getElementById("suggested").innerText = response.grammar.result

            } else {
                console.error('Error:', xhr.statusText);
                spinnerbox.style.display = 'none';
                spinnerheader.innerText = "Processing Video for Grammar and Pronounciation Errors failed."
            }
        };

        // Define what happens in case of error
        xhr.onerror = function (error) {
            console.error('Request failed: ', error);
            spinnerbox.style.display = 'none';
            spinnerheader.innerText = "Processing Video for Grammar and Pronounciation Errors failed."
        };

        // Send the request
        xhr.send();
    });
</script>

{% endblock content %}